body{
background:#0f172a;
color:#e2e8f0;
font-family:Arial;
margin:0;
}

header{
background:#020617;
padding:20px;
font-size:22px;
font-weight:bold;
}

.container{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
padding:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,0.4);
}

button{
background:#2563eb;
border:none;
padding:10px 15px;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

table{
width:100%;
border-collapse:collapse;
}

td,th{
padding:10px;
border-bottom:1px solid #334155;
}
