GATEWAY_URL=http://10.124.21.50:8080
AGENT_SECRET=
NODE_HOSTNAME=
NODE_IP=
AGENT_ALLOWED_DIRS=/etc,/var/www,/home,/opt
AGENT_AUTO_DIRS=/var/www/html,/var/www,/opt,/home,/etc
AGENT_STATE_FILE=/var/lib/luregenix-agent/agent.json
HEARTBEAT_INTERVAL=60
TASK_POLL_INTERVAL=10
